/* Fonts */
$main-font: "Commissioner";

/* Colors */
// ...

/* Device Screens */
$xs: "480px";
$sm: "640px"; // mobile
$md: "768px"; // tablet
$lg: "1024px"; // desktop
$xl: "1280px";
$xxl: "1440px";

/* Mixins */
@mixin transition {
  transition: 0.3s all ease-in-out;
}

@mixin section-padding {
  padding-top: 100px;
  @media (max-width: $md) {
    padding-top: 75px;
  }
}

@mixin adaptive-grid {
  @media (max-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $sm) {
    grid-template-columns: none;
  }
}
